In [1]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
#ANSWER

In [3]:
# Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Also by using code "______".
#example:-

In [4]:
"""This is my first class for programming
i have leant variable declaration , data type , string , int , boolean , complex number 
i have seen some example of string slicing and indexing 
i have gone though some of the string inbuilt function 
apart from that i am trying to practice in my system 
but some of us in our calss are not executing code and still they are answering which is bad """

'This is my first class for programming\ni have leant variable declaration , data type , string , int , boolean , complex number \ni have seen some example of string slicing and indexing \ni have gone though some of the string inbuilt function \napart from that i am trying to practice in my system \nbut some of us in our calss are not executing code and still they are answering which is bad '

In [5]:
# Different types of comments:-
#1. Single-Line Comments :- using "#" code before start of line
#2.Multi-line comments: If you want to write comments that span multiple lines, you can enclose them within triple quotes (""" or ''').

In [6]:
#Q2.What are variables in Python? How do you declare and assign values to variables?

In [7]:
#Answer

In [32]:
# int , str , list, tuples , set ,assingement variable,bool , float ,dict, complex.

In [9]:
a = 2

In [10]:
type(a)

int

In [11]:
b = "abhi"

In [12]:
type(b)

str

In [13]:
c= [2,3,5,'anji',58.256]

In [14]:
type(c)

list

In [17]:
d= (2,3,4,5,6+5j,[2,58,56,57,45.36],True,'abhi')

In [18]:
type(d)

tuple

In [21]:
e= {2,3,4,5,5,3,'pwskills',52.36,(2,5.9,7+5j,False)}

In [22]:
type(e)

set

In [24]:
f=True

In [25]:
type(f)

bool

In [26]:
g= 58.369

In [27]:
type(g)

float

In [28]:
h ={}

In [29]:
type(h)

dict

In [30]:
i = 5+5j

In [31]:
type(i)

complex

In [33]:
#Q3 How do you convert one data type to another in Python?

In [53]:
#Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. 
#This type of conversion is also called typecasting because the user casts (change) the data type of the objects. 
#This function converts any data type into integer

In [40]:
int(3.14)

3

In [42]:
float(2)

2.0

In [54]:
# Q4.How do you write and execute a Python script from the command line?

In [55]:
#answer:- 1. use '#" to write a command and for code use only code or function.
# 2. the press SHIFT+ENTER to execute it.

In [56]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [57]:
my_list = [1,2,3,4,5]

In [59]:
my_list[1:3:1]

[2, 3]

In [60]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [61]:
a= 5+6j

In [63]:
type(a)

complex

In [64]:
a.real

5.0

In [65]:
a.imag

6.0

In [66]:
a.conjugate

In [67]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [68]:
age= 25

In [69]:
type(age)

int

In [71]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [72]:
price= 9.99

In [73]:
type(9.99)

float

In [74]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [81]:
a = 'abhishek kumar gautam'
print(a)

abhishek kumar gautam

In [82]:
type(a)

str

In [83]:
a =int(input('ABHISHEK KUAMR GAUTAM'))

ABHISHEK KUAMR GAUTAM 25

In [84]:
type(a)

int

In [85]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [92]:
str="Hello, world"

In [91]:
type(a)

str

In [95]:
a[6:12:1]

' world'

In [96]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [125]:
is_student = True
is_student = False
print ("student")

student